.pagination {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    background-color: var(--purple-200); // var(--green-200)
    margin-left: 25%;
}