.nav__list__item__text::before {
    content: "0" counter(my-counter) ". ";
    counter-increment: my-counter;
    color: var(--primary);
    margin-right: 2px;
}

.nav__list__item__text {
    color: var(--bluegray-200);
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    transition: var(--transition);
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.nav__list__item__text:hover {
    color: var(--primary);
    text-shadow: 50px 0 70px var(--primary);
}
