.task__control {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding-left: 5%;
    margin-bottom: 5px;
    width: 70%;
    &__button {
        margin-right: 20px;
    }
    &__input {
        width: 50%;
    }
}